name: Build

on:
  push:
    branches: ['**']

jobs:
  build:
    name: Release - ${{ matrix.platform.os-name }}
    strategy:
      matrix:
        platform:
          - os-name: Linux-riscv64-gnu
            runs-on: ubuntu-24.04
            target: riscv64gc-unknown-linux-gnu
          - os-name: Linux-riscv64-musl
            runs-on: ubuntu-24.04
            target: riscv64gc-unknown-linux-musl
    runs-on: ${{ matrix.platform.runs-on }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache cargo registry
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Install cross
        run: cargo install cross --locked

      - name: Build binary
        run: cross build --target ${{ matrix.platform.target }} --release --locked

      - name: Upload binary artifact
        uses: actions/upload-artifact@v4
        with:
          name: nanokvm-control-api-${{ matrix.platform.target }}
          path: target/${{ matrix.platform.target }}/release/nanokvm-control-api
          retention-days: 7
